* {
    
    padding: 0%;
    margin: 0%;
    border: 0;
    outline: none;
}

.input-field {
    display: flex;
margin: auto;
    width: 80%;
    height: 2em;
    max-width: 500px;
    border-radius: 25px;
    padding: 2px 10px ;
    justify-content: space-between;
    border: 1px  #284B63 inset;
    background-color: #D9D9D9;
    margin-top: 20px;
    margin-bottom: 50px;

}

.url {
    font-size: 1rem;
    width: 85%;
    background-color: #D9D9D9;

}
.btn-search {
    display:flex-end;
    border:none;
    font-size: 1rem;
    width: 15%;
    background-color: #D9D9D9;


}
